@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
}

div .input-field {
  height: auto;
}
.select-dropdown {
  display: block;
}

.hide {
  display: none;
}

nav ul li a {
  font-size: 20px;
}
.row {
  margin-bottom: 0;
}
.header {
  background-image: url(../images/ingredients-background.jpg);
  opacity: 90%;
  background-size: cover;
  background-position: center;
  height: 77vh;
}

.app-title {
  font-weight: bold;
  color: rgb(36, 11, 150);
}

.search-button-sections {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 0 10px;
}
#showIngredients,
#showCuisineType {
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(36, 11, 150);
  font-size: 20px;
  margin: 10px;
}

.menu {
  height: 20vh;
}

.search-button {
  color: rgb(36, 11, 150);
  margin: auto;
  margin-left: 1px;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  max-width: 149.25px;
}

.search-button:hover {
  color: rgb(224, 199, 56);
}

.ingredients {
  margin: auto;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}
